/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/



body{
	
	font-family: sans-serif;
	margin:0; 
	padding:0;

}

.nav {
	width: 100%;
	height: 100px;
	background: #E56385;
	font-size:20px;
	display: inline-block;
	position: fixed;
	
}

.nav a {
	color: white;
	text-decoration: none;
	left:900px;
	position: relative;
	top: 30px;
	margin-top: 20px;
	padding: 30px;
    
}

.nav a:hover{
	background-color:#E54E79;
}

img {
	width:50px;
	position: absolute;
	top: 26px;
	left: 200px;
  background-attachment: fixed;

}

.formulario{
	background-image: url("../img/cropped-Lyft-Promo-Codes-car-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    height: 800px;
    width: 100%;
} 

#rectangulo{

	width: 510px;
	height: 400px;
	float: right;
	background: #EDE9E2;
	margin-top: 250px;
	padding:50px;
	box-sizing: border-box;
		
}

h1 {
	
	color: #00B2A9;
	
}

h3 {
    
	color:#75726C;
	font-size: 20px; 
}

.group{ 
  position:relative; 
  margin-top: 30px; 
}
input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus{ outline:none; }

/* LABEL ======================================= */
label{
  color:#999; 
  font-size:12px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label{
  top:-20px;
  font-size:10px;
  color:#5264AE;
}


/* BOTTOM BARS ================================= */
.bar { position:relative; display:block; width:300px; }
.bar:before, .bar:after{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before{
  left:50%;
}
.bar:after{
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

button{
  background-color: #E56385;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px; 
  margin-left:0; 
}
#boton-rosa{
  width: 300px;
  height: 50px;
  font-size: 15px;
  box-shadow: 0 4px 2px -2px gray;
}

.boton-grup i{
  color: white;
  font-size: 12px;
  font-weight: 600px;
  margin-top: 20px;
  line-height:4px;
}


p{
  font-size: 10px;
}

.borde1{

  width: 100%;
  height: 560px;
  background-color: #00B2A9;
  position: relative;
}

.linea-blanca{
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #ede9e2;
  margin-top: 100px;
}
.linea-blanca p{
  color: gray;
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

.rec-auto{
  
  width: 700px;
  height: 250px;
  background-color: #ede9e2;
  position: absolute;
  margin-left: 300px;
  margin-top: 270px; 
  display: inline-block;
  float: left;
  
}

.coordenada1{
  position: absolute;
  display: inline-block;
  margin-left: 100px;
  margin-top: 30px;

}

.coordenada2{
  position: absolute;
  display: inline-block;
  margin-left: 100px;
  margin-top: 30px;
}

i{
  font-size: 20px;
  color: gray;
  position: relative;
  padding-left: 100px;
  display: inline-block;
  
}

footer{
  width: 100%;
  height: 50px;
  background-color: #625f5b; 
  margin:0;
  display: inline-block;

}

footer p{
  color: white;
  font-size: 15px;
}

.caja-link{
  width: 100%;
  height: 200px;
  background-color: #75726C;
  position: relative;
}

.textoA{
  color: #ede9e2;
  margin-left: 300px;
  font-weight: 400;
  padding-top: 30px;
  position: absolute;
}

.social{
  margin-left: 600px;
  font-weight: 400;
  padding-top: 30px;
  position: absolute;


}

.social h3{
  color: white;
}

.social i{
  width:30px; 
  height:30px;

}
